// AccountModal.scss

.account-modal {
  width: fit-content;
  margin: 0 auto;
  padding: 1.25rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  color: #333333;

  .form-group {
    margin-bottom: 16px;

    label {
      display: block;
      font-weight: bold;
    }

    input[type="text"], select {
      width: 100%;
      padding: 8px;
      font-size: 14px;
      border: 1px solid #cccccc;
      border-radius: 4px;
      box-sizing: border-box;
      transition: border-color 0.3s;
    }

    input[type="text"].error {
      border-color: #dc3545;
    }

    .error-message {
      color: #dc3545;
      font-size: 12px;
      margin-top: 4px;
    }
  }

  &__close-button {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.account-modal-header {
  position: relative;

  &:first-child {
    div {
      max-width: 80%;
    }
  }
}

.account-modal-choices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.account-modal-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}


//.modal__overlay {
//  position: fixed !important;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  background-color: rgba(0, 0, 0, 0.7) !important;
//  z-index: 999 !important;
//}
//
//.modal__content {
//  position: relative !important;
//  width: fit-content !important;
//  height: fit-content !important;
//  overflow: auto !important;
//  background-color: #ffffff !important;
//  -webkit-transform: translate(-50, -50%) !important;
//  transform: translate(-50, -50%) !important;
//}
