.account-list-body {
  padding: 0.75rem;
  border: 1px solid #e3ebf6;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.account-list {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.account-list-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 2rem;
}

.account-table {

  th {
    position: static;
  }
  th:hover {
    cursor: pointer;
  }
}