.filters-modal {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh!important;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  z-index: 1000;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
}

.filters-modal-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: end;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
